# humanstxt.org/
# The humans responsible & technology colophon

# TEAM
  <% for(var i=0; i< eunomia.generate.humans.developers.length; i++) {%>
  <%= eunomia.generate.humans.developers[i].name %> -- <%= eunomia.generate.humans.developers[i].title %> -- <%= eunomia.generate.humans.developers[i].website %>
  <% } %>


# TECHNOLOGY COLOPHON

  <% for(var i=0; i< eunomia.generate.humans.technologies.length; i++) {%><%= eunomia.generate.humans.technologies[i] %>, <% } %>